<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <div align="center">
            <canvas id="canvas"></canvas>
        </div>
        <script src="js/engine/array.js"></script>
        <script src="js/engine/colission.js"></script>
        <script src="js/engine/keyboard.js"></script>
        <script src="js/engine/pointer.js"></script>
        <script src="js/engine/vectors.js"></script>
        <script src="js/bullets.js"></script>
        <script src="js/guns.js"></script>
        <script src="js/blocks.js"></script>
        <script src="js/world.js"></script>
        <script src="js/player.js"></script>
        <script src="js/hud.js"></script>
        <script src="js/game.js"></script>
    </body>
</html>