<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Graduate" rel="stylesheet">
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <div id="register">
            <input type="text" id="name" placeholder="name"><input type="button" value="Create Game" onclick="createGame()">
            <h2 id="no-name">You must name your game</h2>
            <h2 id="used-name">That name is taken</h2>
            <ul id="games">

            </ul>
        </div>
        <div id="game" align="center">
            <canvas id="canvas"></canvas>
            <div>
            <h3>Volume: <input type="button" value="-" onclick="changeVolume('down')"> <input type="button" value="+" onclick="changeVolume('up')"></h3>
            </div>
        </div>
        <script src="js/main.js"></script>

        <script src="/js/game/engine/array.js"></script>
        <script src="/js/game/engine/colission.js"></script>
        <script src="/js/game/engine/keyboard.js"></script>
        <script src="/js/game/engine/pointer.js"></script>
        <script src="/js/game/engine/vectors.js"></script>
        <script src="/js/game/assets.js"></script>
        <script src="/js/game/pixels.js"></script>
        <script src="/js/game/texts.js"></script>
        <script src="/js/game/explosion.js"></script>
        <script src="/js/game/bullets.js"></script>
        <script src="/js/game/guns.js"></script>
        <script src="/js/game/blocks.js"></script>
        <script src="/js/game/world.js"></script>
        <script src="/js/game/player.js"></script>
        <script src="/js/game/hud.js"></script>
        <script src="/js/game/game.js"></script>
    </body>
</html>